name: Check Action Typing

on:
  push:
    branches:
      - 'master*'
      - 'devel-*'
    tags:
      - '*'
  pull_request:

permissions:
  contents: read

jobs:
  check-action-typing:
    name: Check Action Typing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Check Action Typing
        uses: typesafegithub/github-actions-typing@9ddf35b71a482be7d8922b28e8d00df16b77e315  # v2.2.2
        with:
          ignored-action-files: |-
            .github/actions/test/action.yml
            misc/action/fetch-workflows/action.yml
            misc/action/find-workflows/action.yml
            misc/action/json-output/action.yml
            misc/action/package-downloads/action.yml
